.place__title {
  grid-area: title;
  color: #FFFFFF;
  font-size: 72px;
  line-height: 1.06;
  align-items: start;
  max-height: 152px;
  min-height: 76px;
  margin: 0;
  max-width: 460px;
  font-weight: 900;
}

@media screen and (max-width: 1279px) {
  .place__title {
    max-width: 440px;
  }
}

@media screen and (max-width: 1023px) {
  .place__title {
    font-size: 42px;
    line-height: 1.1;
    max-height: 92px;
    min-height: 46px;
    max-width: 340px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    font-size: 32px;
    line-height: 1.09;
    min-height: 35px;
    max-width: 288px;
    padding: 0 16px 0;
  }
}
