.place__link {
  padding-top: 12px;
  padding-bottom: 0;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 1.22;
  text-decoration-line: underline;
  opacity: 1;
  transition: 0.3s ease;
  font-weight: 400;
}

.place__link:hover {
  opacity: .8;
}
