.footer {
  padding: 92px 0 24px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  max-width: 1184px;
  justify-content: space-between;
}

@media screen and (max-width: 1279px) {
  .footer {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    padding: 88px 0 24px;
    max-width: calc(100% - 48px);
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 64px 0 24px;
    flex-direction: column;
    max-width: calc(100% - 32px);
  }
}
